// Import Bootstrap and its default variables
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import "variable/variable.scss";

#loginInput-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}


.loginInput-text {
  color: #858585;
  font-size: 2rem;
  margin-right: 20px;
  margin-top: 7.5px;
}

#loginInput-message {
  display: flex;
  flex-direction: column;
}

.loginInput {
  border: 1px solid #858585;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  height: 4.5rem;
  padding: 0px 20px 1.5px;
}

.loginInput-wrong {
  border: 1px solid #858585;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  height: 4.5rem;
  padding: 0px 20px 1.5px;
  border: 1px solid red;
}

.loginInput-wrong-text {
  font-size: 15px;
  color: $warning-color;
  margin: 2.5px 10px 0px 10px;
}
