@import "variable/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

#recommendCard-card-container {
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #c2c2c279;
  background-color: #fafafa;
  border-radius: 20px;
  width: 30rem;
  height: 45rem;
}

#recommendCard-card-img-warp {
  height: 30rem;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

#recommendCard-card-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/jpg/01_bento-chicken-breast.jpg");
  background-size: cover;
  background-position: 70% center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#recommendCard-card-img-warp:hover {
  transition: 0.5s;
  text-decoration: none;
}

#recommendCard-card-img-warp:hover #recommendCard-ingredient {
  border-radius: 20px 20px 0 0;
  display: block;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #0000003c;
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  transition: 0.5s;
}

#recommendCard-card-img-warp:hover #recommendCard-ingredient-content {
  margin-top: 5rem;
  letter-spacing: 5px;
  line-height: 30px;
  width: 20rem;
  height: 8rem;
  transition: 0.5s;
}

#recommendCard-ingredient {
  border-radius: 20px 20px 0 0;
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

#recommendCard-ingredient:hover #recommendCard-ingredient {
  border-radius: 20px 20px 0 0;
  display: block;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #0000003c;
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  transition: 0.5s;
}

#recommendCard-card-info > h3 {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 2.5rem 0;
}

#recommendCard-card-hr {
  width: 25rem;
  height: 100%;
  border-top: 1px solid $dark-Beige;
}

#recommendCard-card-hr p {
  color: $grey;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0 1rem;
}

#recommendCard-card-star {
  margin: 0px 2px;
  width: 1.4rem;
}
