@import "variable/variable.scss";

// .favorite-btn
.addFavoriteButton {
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 75% 60%;
  background-size: 32px;
}

#addFavoriteButton:focus {
  outline: none;
}

#addFavoriteButton {
  background-color: $white;
  background-image: url("../../assets/svg/addFavorite.svg");
}

#addFavoriteButton:hover {
  background-color: $light-yellow;
  background-image: url("../../assets/svg/addFavorite-hover.svg");
}

#addFavoriteButton-active {
  background-color: $dark-yellow;
  background-image: url("../../assets/svg/addFavorite-stop.svg");
}
