@import "variable/variable.scss";

#discountCard-container {
  font-family: "Noto Sans TC", sans-serif;
  background-color: $dark-white;
  border-radius: 20px;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #c2c2c279;
  overflow: hidden;
}

#discountCard-wrap {
  height: 100%;
  width: 100%;
}

#discountCard-img {
  background-color: $light-orange;
  width: 42.5%;
  object-fit: cover;
  object-position: center;
}

#discountCard-text {
  height: 100%;
  width: 52.5%;
}

.discountCard-text-padding {
  padding: 50px;
}

#discountCard-title {
  color: $light-orange;
  line-height: 13px;
  font-weight: 700;
}

#discountCard-title > h4 {
  font-size: 2.2rem;
}

#discountCard-title > h5 {
  font-size: 2rem;
}

#discountCard-call-to-action {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: $light-orange;
}

.discountCard-information {
  font-size: 1.5rem;
  color: $grey;
}
